* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Vollkorn', sans-serif;
    background-color: #571C22; /* B40739 */
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 100vh 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    color: #f0eeed;
    margin-top: 20px;
    font-style: italic bold;
    height: 100vh 100vh;
}


p {
    margin-bottom: 20px;
}

.wave {
    width: 120%;
    height:250px;
    background-color: #541b23;
    clip-path: path("M0,160 C480,240 960,80 1440,160 L1440,320 L0,320 Z");

}

.logo-image {
    position: relative; /* Posición relativa para manejar el z-index */
    z-index: 1; /* Asegura que la imagen quede delante */
}

.wave2 {
    width: 100%;
    height: 300px;
    background-color: #964e5e;
    clip-path: polygon(0 80%, 50% 100%, 100% 80%, 100% 100%, 0% 100%);
    z-index: -1; /* Asegura que el elemento quede detrás */
    position: absolute; /* Posición absoluta para superponer el elemento */
    top: 0; /* Ajusta según sea necesario */
    left: 0;
}

.margen1 {
    margin-top: 140px;
    font-size: 20px;
}

.margen2 {
    margin-top: 80px;
    font-size: 23px;
}

.margen3 {
    margin-top: 10px;
    font-size: 23px;
}

.imagen1 {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.borde {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Sombra ligera para el contenedor */
    border-radius: 20px;
}
/* Degradado lineal de #541b23, #961a38 a #b50c39 */
.gradiente {
    background: linear-gradient(to right, #541b23, #961a38);
  }


.page-container {
    width: 100%;
    max-width: 1200px;
    background-color: 541b23;
    border: 10px solid white; /* Borde blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para mejor visibilidad */
}

.logoCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 300px;
}

.sticky-icon {
    position: absolute;
    bottom: -815px;
    left: 500px;
    height: 850px;
    z-index: 900;
}

.sticky2-icon {
    position: absolute;
    bottom:815px;
    right: 300px; /* Cambiado de left a right */
    height: 850px; /* Corregido para eliminar el duplicado */
    z-index: 1000; /* Corregido para eliminar la unidad 'px' */
}
.svg-icon {
width: 100%; /* Ajusta el ancho para que la imagen sea responsiva */
height: auto; /* Mantiene la proporción de la imagen */
}

  .logoFinal {
    display: flex;
    justify-content: center;
    align-items: right;
    margin: auto;
    height: 300px;
}

.corner-image {
    position: absolute;
    top: 5;
    right: 280px;
    width: 290px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    z-index: 10; /* Asegura que la imagen esté por encima de otros elementos */
    /*transform: rotate(40deg); /* Ajusta el ángulo de rotación según sea necesario */

}

.list-group-item {
    font-size: 1.2rem;
    background-color: #541b23;
    color: #f0eeed;
}

.list-group-item span:last-child {
    font-weight: bold;
    color: #a4948c;
    border-color: 2px #961a38;
    
}

.hover-box {
    background-color: linear-gradient(to right, #541b23, #961a38);
    color: white;
    transition: box-shadow 0.3s ease; /* Añadir una transición suave */
    border-radius:20px 20px ;
    padding: 20px;
}

/* Estilo del elemento en hover */
.hover-box:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.hover-letras {
    color: white;
    transition: box-shadow 0.3s ease; /* Añadir una transición suave */
    border-radius:20px 20px ;
    padding: 20px;
}

/* Estilo del elemento en hover */
.hover-letras:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.hover-objetos {
    background-color: linear-gradient(to right, #541b23, #961a38);
    border-radius: 30px;
    transition: box-shadow 0.3s ease;
    transform: scale(1.1); /* Añadir un efecto de escala */
}

/* Estilo del elemento en hover */
.hover-objetos:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.hover-text {
    font-size: 20px;
    color: #333;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease; /* Añadir transición para transform y color */
  }
  
  /* Estilo del elemento en hover */
  .hover-text:hover {
    transform: scale(1.02); /* Aumentar el tamaño del texto */
  }

  .hover-flecha {
    font-size: 20px;
    color: #333;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease; /* Añadir transición para transform y color */
  }
  
  /* Estilo del elemento en hover */
  .hover-flecha:hover {
    transform: scale(1.1); /* Aumentar el tamaño del texto */
  }

  .goto-top {
    position: sticky;
    bottom: 30px;
    left: 20px;
    width: 75px;
    height: 50px;
}